<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full w-full text-slate-100">
	<main class="pt-20 px-10">
		<h1 class="text-3xl text-center p-5">AQI Prediction Prototype</h1>
		<p class="text-center">Select Model and year to get prediction of specific year.</p>
		<form action="{{ url_for('predict')}}" method="POST">
		<div class="border-2 rounded-xl border-slate-500 z-40 py-10 w-1/2 mx-auto mt-10">
			<div class="px-10">
				<div>
					<label for="year">Select Year: </label>
					<select name="year" id="year" class="select w-full max-w-xs align-left">
						<option disabled selected>Select Year</option>
						<option value="2018">2018</option>
						<option value="2019">2019</option>
						<option value="2020">2020</option>
						<option value="2021">2021</option>
						<option value="2022">2022</option>
						<option value="all">All</option>
					</select>
				</div>
				<div>
					<label for="model">Select Model: </label>
					<select name="model" id="model" class="select w-full max-w-xs">
						<option disabled selected>Select Model</option>
						<option value="linreg">Linear Regression</option>
						<option value="lasreg">Lasso Regression</option>
						<option value="desreg">Decision Tree Regression</option>
						<option value="randreg">Random Forest Regression</option>
						<option value="xgboost">XgBoost Regression</option>
						<option value="knn">KNN</option>
						<option value="ann">ANN</option>
						<option value="all">All</option>
					</select>
				</div>
				<br>
				<div class="text-center">
					<button class="btn btn-sm" type="submit">Predict</button>
				</div>
			</div>
		</div>
		</form>
	</main>
</body>
</html>